<p>Various test to test whether the font families work: </p>
<ol type="I">
<li><p id="test-font-billion">youtube-style-video-title works BILLIONSTARZ!</p></li>
<li><p id="test-font-roboto">youtube-style-video-title works!</p></li>
<li><p id="arial-font">This should be Arial</p></li>
</ol>


<div id=""> HTML entity test: &#183;</div>

<p>The following should look similar to how Youtube displays video titles</p>

<p class="video-title">3.4M views &#183; 6 months ago</p>

<p [class] = "exampleClass">

Lorem ipsum lore
</p>











