<h1>Simon's Angular Test Project</h1>

<app-display-student-from-restcontroller></app-display-student-from-restcontroller>
<h2>Two directional data binding form test:</h2>
<app-two-directional-data-binding-form></app-two-directional-data-binding-form>


<h1>App Books Display Test</h1>
<app-books-display-test ></app-books-display-test>
<h1>App Pointer</h1>
<app-pointer></app-pointer>
<h1>App Simon Test</h1>
<h1>App Youtube Style Buttons</h1>
<app-youtube-style-buttons></app-youtube-style-buttons>
<h1>App Youtube Style Video Title</h1>
<app-youtube-style-video-title></app-youtube-style-video-title>
<h1>App Navbar Component</h1>
<app-navbar></app-navbar>
<h1>This is the post app</h1>

<app-post [fromParent] = 'parentMessage'></app-post>
<h1>This is the postlist app for the second time, notice how the proeprty binding import does not work</h1>
<app-postlist></app-postlist>



<h1>This should be the @ViewChild string from app.component</h1>
<app-post [fromParent] ='parentMessage2' (messageEvent)='reciveMessage($event)'></app-post>
{{fromPostComponentVariableDeclared}}
