<form (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="inputData">Enter Data:</label>
    <!-- <input type="text" class="form-control" id="inputData" name="inputData" [(ngModel)]='submittedData'> -->
    <!-- <input type="text" [(value)]="submittedData" (input)="onInput($event)" /> -->
    <input type="text" [(ngModel)]="submittedData" name="submitData" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{submittedData}}
<p>books-display-test works!</p>

<form (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="inputData">Enter Data:</label>
    <!-- <input type="text" class="form-control" id="inputData" name="inputData" [(ngModel)]='submittedData'> -->
    <!-- <input type="text" [(value)]="submittedData" (input)="onInput($event)" /> -->
    <input type="text" [(ngModel)]="submittedData" name="submitData" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h1>Another form with Enter:</h1>
<label for="inputDataEnter">Enter Data and then press enter:</label>
<input type="text" (keyup.enter)='onKeyUp($event)' />
{{submittedData}}
<h1>Third form with Enter:</h1>
<label for="inputDataEnter">Enter Data and then press enter:</label>
<input type="text" (keyup.enter)='onKeyUp2(username.value)' #username />

<h1 class="make-it-rain">Two way data binding example:</h1>

<form (ngSubmit)="submitFormTwoWayDataBinding()">
<label for= "username-form"></label>
<input type= "text" id= "username-form" [(ngModel)] = "userName2" name= "username-input">
<button>Click</button>
</form>
{{userName2}}
